<div class="banner">
    <div routerLink="Agilidad" class="item first">
        <h2 class="titulojuego"> Agilidad Aritmetica </h2>
    </div>


    <!--div routerLink="Adivina" class="item second"> <h2 class ="titulojuego"> Numero Secreto </h2> </div-->


    <div routerLink="Piedrapapeltijera" class="item third">
        <h2 class="titulojuego"> Piedra Papel Tijera </h2>
    </div>


    <div routerLink="Anagrama" class="item cinco">
        <h2 class="titulojuego"> Angrama </h2>
    </div>


    <div routerLink="Primos" class="item fourth">
        <h2 class="titulojuego"> Encontrar Primos </h2>
    </div>

    <div routerLink="Tateti" class="item seis">
        <h2 class="titulojuego">Tateti </h2>
    </div>


</div>