<body [ngStyle]="{'background-color': '#B3D1A3'}">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="desc">

        <h2 class="texto">
            Mi Nombre es Ignacio Monllor. Soy un alumno de la UTN que le gusta programar
            <br> pero sobre todo los algoritmos y los codingchallenges
        </h2>


        <br>
        <a href="https://www.hackerearth.com/@ignacio.monllor">Perfil HackerEarth</a>
        <br>
        <a href="https://www.hackerrank.com/nachomonllor">Perfil HackerRank</a>
        <br>
        <a href="https://app.codesignal.com/profile/nacho_monllor">Perfil Codefigths</a>
        <br>
        <a href="https://www.codewars.com/users/nachoMonllor">Perfil Codewars</a>
        <br>
        <a href="https://omegaup.com/profile/">Perfil OmegaUp</a>
    </div>



    <br>
    <br>
    <br>

    <div class="links">
        <a href="https://github.com/nachomonllor" target="_blank"><img class="links" src="https://img.icons8.com/ios-filled/100/000000/github.png/"></a>
        <a href="https://www.linkedin.com/in/ignacio-monllor-b88a66a1?originalSubdomain=ar" target="_blank"><img class="links" src="https://img.icons8.com/ios-filled/100/000000/linkedin.png" /></a>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5 class="texto">
        "Encontrar Primos":
        <br> dada una tabla de números (5x5) cargados aleatoriamente (botones)
        <br> el usuario tiene que hacer click en los numeros primos.
        <br> Si acierta, el boton se pone en verde, si se equivoca en rojo.
        <br> El juego es por tiempo, cada error se penaliza con 3 segundos.
        <br> A medida que se sube de nivel los números son cada vez mas grandes
    </h5>

</body>
<!--body>
  <div class="left"></div>
  <div class="middle">
    
    <br>
    <br>
    <br>
    <div class="desc">
      <p class="desc">Mi nombre es Ignacio Monllor y soy estudiante de la Tecnicatura
         Universitaria en Programacion en la Universidad Tecnologica Nacional (UTN).
        Pueden encontrar mis otros proyectos en mi <a class="webs" href="https://github.com/nachomonllor">GitHub</a>
        y mi perfil en <a class="webs" href="https://www.linkedin.com/in/ignacio-monllor-b88a66a1?originalSubdomain=ar">LinkedIn</a></p>
    </div>
    <div class="links"> 
      <a href="https://github.com/nachomonllor" target="_blank"><img class="links" src="https://img.icons8.com/ios-filled/100/000000/github.png/" ></a>
      <a href="https://www.linkedin.com/in/ignacio-monllor-b88a66a1?originalSubdomain=ar" target="_blank"><img class="links" src="https://img.icons8.com/ios-filled/100/000000/linkedin.png"/></a>  
    </div>
    <div class="back">
      <img class="back" src="../../../assets/icons/back-white-60x60.png" routerLink="/">
    </div>
  </div>
  <div class="right"></div>
  <div class="bottom"></div>
</body-->