<body>
  <div class="left"></div>
  <div class="middle">
    
    <br>
    <br>
    <br>
    <div class="desc">
      <p class="desc">Mi nombre es Ignacio Monllor y soy estudiante de la Tecnicatura
         Universitaria en Programacion en la Universidad Tecnologica Nacional (UTN).
        Pueden encontrar mis otros proyectos en mi <a class="webs" href="https://github.com/nachomonllor">GitHub</a>
        y mi perfil en <a class="webs" href="https://www.linkedin.com/in/ignacio-monllor-b88a66a1?originalSubdomain=ar">LinkedIn</a></p>
    </div>
    <div class="links"> 
      <a href="https://github.com/nachomonllor" target="_blank"><img class="links" src="https://img.icons8.com/ios-filled/100/000000/github.png/" ></a>
      <a href="https://www.linkedin.com/in/ignacio-monllor-b88a66a1?originalSubdomain=ar" target="_blank"><img class="links" src="https://img.icons8.com/ios-filled/100/000000/linkedin.png"/></a>  
    </div>
    <div class="back">
      <img class="back" src="../../../assets/icons/back-white-60x60.png" routerLink="/">
    </div>
  </div>
  <div class="right"></div>
  <div class="bottom"></div>
</body>