<!-- <ul class="nav nav-pills nav-justified">
  <li class="active"><a routerLink="/Principal">Ir a inicio</a></li>
  <li><a (click)="TraerTodos()">Todos los jugadores</a></li>
  <li><a (click)="TraerGanadores()">Los ganadores</a></li>
  <li><a (click)="TraerPerdedores()">Los perdedores</a></li>
</ul> -->


<div class="container mt-5">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Usuario</th>
        <th>Cuit</th>
        <th>Sexo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}} </td>
        <td>{{user.cuit}} </td>
        <td>{{user.sexo | sexo | uppercase}} </td>
      </tr>
    </tbody>
  </table>
</div>
