<div class="login-wrap m">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked />
    <label for="tab-1" class="tab">Ingresa a la sala</label>
    <input id="tab-2" type="radio" name="tab" class="for-pwd" />
    <label for="tab-2" class="tab">Olvidé mi contraseña</label>
    <form (ngSubmit)="onSubmit()" class="login-form" #f="ngForm">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Usuario</label>
          <input
            id="user"
            type="text"
            class="input"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>
        <div class="group">
          <label for="pass" class="label">Contraseña</label>
          <input
            id="pass"
            type="password"
            class="input"
            data-type="password"
            [(ngModel)]="clave"
            name="clave"
            required
          />
        </div>
        <div class="group" class="mb-3">
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
        <hr>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center text-white">
            No tienes cuenta?
            <a type="button" class="text-primary m-l-5" routerLink="/Registro"><b>Crear cuenta</b></a>
          </div>
        </div>
      </div>
      <div class="for-pwd-htm">
        <div class="group">
          <label for="user" class="label">Username or Email</label>
          <input id="user" type="text" class="input" />
        </div>
        <div class="group">
          <input type="submit" class="button" value="Reset Password" />
        </div>
        <div class="hr"></div>

      </div>
    </form>
  </div>
</div>
