<body>
    <div class="container">
        <div class="jumbotron" style="padding:50px;">
            <form (ngSubmit)="onSubmit()" #f=ngForm>
                <div class="container">
                    <label><b>Nombre</b></label>
                    <input type="text" placeholder="Usuario" [(ngModel)]="username" name="username" required>

                    <label><b>Clave</b></label>
                    <input type="password" placeholder="clave" [(ngModel)]="clave" name="clave" required>

                    <button type="submit">Ingresar</button>

                    <!--div *ngIf="!logeando" class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
                {{progresoMensaje}} - {{progreso}}%
              </div>
          </div-->


                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <!--button type="button" class="cancelbtn">Cancelar</button-->
                    <button type="button" class="aceptbtn" routerLink="/Registro">Registrarse</button>
                    <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
                </div>

            </form>
        </div>
    </div>

    <br>
    <br>

</body>
