<body style="background-color: rgb(0, 0, 0);">
  <div class="text-center mt-4 texto_cabecera">
    Completa la expresión
  </div>
  <br />
  <div class="text-center">
    <form #f="ngForm">
      <input type="text" disabled name="calculo" [(ngModel)]="calculo" />

      <hr />

      <input
        type="number"
        autocomplete="off"
        name="resUsuario"
        class="textoUsuario"
        [(ngModel)]="resUsuario"
        (keyup)="onSubmit()"
      />
      <br />
      <!--<br>
        <button mat-raised-button class="otroBoton" (click)="nuevoJuego.finalizar()">
            Finalizar
        </button>
        <br>
        <button mat-raised-button class="otroBoton" (click)="NuevoJuego()">
            Comenzar
        </button>
    -->
      <div class="text-center texto">
        <div class="row">
          <div class="col">
            <span *ngIf="isValid === 1" class="badge badge-success">
              Correcto
            </span>
            <span *ngIf="isValid === 0" class="badge badge-danger">
              Incorrecto
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="text-white">
              Tiempo: {{ reloj }} - Nivel: {{ _agilityAritmeticService.nivel }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="text-white">
              Puntos: {{ _agilityAritmeticService.cantidadPuntos }} - Maximo
              Puntaje: {{ _agilityAritmeticService.maximo_puntaje }}
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<!--
<form name="juego ">
<ul>
   <li>
   Primer número: <input [(ngModel)]="nuevoJuego.numeroIngresado " placeholder="ingrese numero " name="numeroIngresado " type="text " class="form-control " style="width:50% " readonly/>

  </li>
  <li>
   Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado " placeholder="ingrese numero " name="numeroIngresado " type="text " class="form-control " style="width:50% " readonly/>

  </li>
  <li>
   Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado " placeholder="ingrese numero " name="numeroIngresado " type="text " class="form-control " style="width:50% " readonly/>

  </li>
  <li>
    Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado " placeholder="ingrese numero " name="numeroIngresado " type="text " class="form-control " style="width:50% "/>

   </li>
  <li>
    <h2 [hidden]="ocultarVerificar " ><button (click)="verificar() " class="btn btn-success btn-lg ">Verificar {{Tiempo}} </button></h2>
  </li>
  <li>
    <h2 [hidden]="!ocultarVerificar "><button  (click)="NuevoJuego() "  class="btn btn-info btn-lg ">Nuevo</button></h2>
  </li>
  <li>
    <h2><p><i class="fa fa-spinner fa-spin "></i>Esperando numero...</p></h2>

    <h3 [hidden]="!nuevoJuego.gano ">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano ">usted aún no gano </h3>
  </li>
</ul>

</form>

-->

<!--
<app-menu3>
</app-menu3>
-->
